.homeContainer {
    text-align:center;
    margin-top:100px;
    margin-bottom:150px;
}

.errorContainer {
    text-align:center;
    margin-top:100px;
    height:100vh;
}

.homeGridContainer {
    width:100%;
    max-width:1200px;
    margin:auto;
}

.homeImageContainer {
    position: relative;
    display:inline-block;
    height:300px;
    width:300px;
    margin:20px 0px;
}

.homeImageContainer img {
    height: 100%;
    width:100%;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

.homeImageOverlayLike {
    width:140px;
    height:40px;
    margin:auto;
    margin-top:250px;
    display:block;
    background: rgb(0, 0, 110);
    color:white;
    border:none;
    font-size:16px;
    cursor: pointer;
}

.homeImageOverlayDelete {
    width:140px;
    height:40px;
    margin:auto;
    margin-top:250px;
    display:block;
    background: red;
    color:white;
    border:none;
    font-size:16px;
    cursor: pointer;
}



.homeImageOverlayComment {
    width:140px;
    height:40px;
    margin:auto;
    margin-top:10px;
    display:block;
    background: rgb(0,0,110);
    color:white;
    border:none;
    font-size:16px;
    cursor: pointer;
}

.homeImageOverlay {
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    background:rgba(0,0,0,0.2);
    opacity: 0;
    cursor: pointer;
    transition: 0.4s;

}

.homeImageOverlay:hover {
    background:rgba(0,0,0,0.5);          
    opacity: 1;
}

.homeImageModal {
    height:600px;
    width:850px;
    background:rgb(245, 245, 245);
    margin:auto;
    margin-top:5%;
    position: relative;
}

.homeImageModalClose {
    position: absolute;
    font-weight:bold;
    color:grey;
    font-size:26px;
    top:0px;
    left:5px;
    margin:0px;
    cursor: pointer;
}

.homeImageModal img {
    height:100%;
}

.commentContainer {
    display:inline-block;
    height:100%;
    width:250px;
    vertical-align: top;
}

.modalImageInfo {
    margin-top:0px;
    width:250px;
    height:145px;
    line-height:15px;
    text-align: center;
    margin-bottom:5px;
    background:whitesmoke
}

.modalImageComment {
    margin-left:15px;
    margin-right:15px;
    margin-bottom:30px;
}

.modalImageCommentUsername {
    margin-bottom:-10px;
    cursor: pointer;
}

.commentScroll {
    overflow:scroll;
    height:430px;
}

.commentButtonContainer {
    height:50px;
}

.commentButtonContainer button {
    width:112px;
    height:28px;
    margin:auto;
    margin-top:20px;
    display:block;
    background: rgb(0,0,110);
    color:white;
    border:none;
    font-size:12px;
    cursor: pointer;
}

.writeComment {
    padding:10px;
    height:300px;
    width:230px;
    font-size:14px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}


@media only screen and (max-width: 850px) {
    .homeImageModal {
       height:400px;
       width:600px;
       margin-top:15%;
    }

    .commentContainer {
        width:200px;
    }
    .modalImageInfo {
        width:200px;
    }
    .commentScroll {
        height:220px;
    }
    .writeComment {
        padding:10px;
        height:150px;
        width:180px;
        font-size:14px;
        border: none;
        overflow: auto;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        resize: none; /*remove the resize handle on the bottom right*/
    }
    
  }

  @media only screen and (max-width: 600px) {
    .homeImageModal {
       height:650px;
       width:350px;
       margin-top:5%;
    }
    .homeImageModal img {
        height:350px;
    }
    .commentContainer {
        width:350px;
    }
    .modalImageInfo {
        width:350px;
    }
    .commentScroll {
        height:120px;
        width:100%;
    }
    .writeComment {
        padding:10px;
        height:100px;
        width:330px;
        font-size:14px;
        border: none;
        overflow: auto;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        resize: none; /*remove the resize handle on the bottom right*/
    }
    
  }